.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 4px;
  text-transform: capitalize;
  font-weight: 600;
}

.button > *:not(:last-child) {
  margin-right: 4px;
}

.button .button__icon {
  font-size: 18px;
}

.button.button--primary {
  background-color: #ff5e00;
  color: white;
}

.button.button--plain {
  width: auto;
  justify-content: start;
  padding: 0;
  border: none;
  background-color: transparent;
}

.button.button--plain.button--primary {
  color: #ff5e00;
}
