body {
  font-family: "lato", sans-serif;
}

footer {
  width: 100%;
}

.border {
  border: 2px solid rgb(41, 38, 38);
}

.first-container {
  height: 20vh;
}

.first-container p {
  font-weight: 400;
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 1rem;
}

.second-container {
  height: 10vh;
  background-color: rgb(109, 109, 100);
}
