.header {
  position: fixed;
  inset: 0;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #fff;
  transition: all linear 0.2s;
}

.header .header__logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 6px 0;
  font-size: 18px;
  font-weight: 800;
  color: var(--primary-color);
}

.header .header__logo img {
  height: 55%;
  margin-right: 8px;
}

.header.header--scroll {
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
