.hero {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .hero__title {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 12px;
  letter-spacing: 1rem;
}

.hero .hero__subtitle {
  font-family: monospace;
  font-size: 20px;
  color: #6d6d6d;
}