.pop-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(216, 219, 37);
  background-color: rgba(212, 200, 23, 0);
  mix-blend-mode: normal;
  padding: 2rem;
}

.img-cont {
  display: flex;
  flex-direction: row;
}

.close {
  width: 20px;
  margin-left: auto;
  font-size: 2rem;
}

.pop-image {
  width: 100%;
  height: 50%;
}

.pop-image img {
  width: 100%;
  height: 800px;
  object-fit: contain;
}
