.show-card {
  margin: 24px 12px;
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  border-radius: 16px;
  overflow: hidden;
}

.show-card .show-card__image img {
  width: 100%;
}

.show-card .show-card__header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.show-card .show-card__title {
  flex-shrink: 1;
  padding-right: 8px;
  font-size: 18px;
}

.show-card .show-card__likes {
  padding-top: 4px;
  flex-shrink: 0;
}

.show-card .show-card__actions {
  margin-top: 8px;
  padding: 8px 16px;
}
