@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.03rem;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}

input,
label,
select,
textarea {
  width: 100%;
  height: 40px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0 8px;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.03rem;
  border-radius: 4px;
}

input:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  font-family: inherit;
  letter-spacing: inherit;
  color: #8a8a8a;
}

:-ms-input-placeholder {
  font-family: inherit;
  letter-spacing: inherit;
  color: #8a8a8a;
}

::placeholder {
  font-family: inherit;
  letter-spacing: inherit;
  color: #8a8a8a;
}
